.main-cursor{
    position: fixed;
    width:10px;
    height:10px;
    border-radius: 50%;
    background: black;
    transition: 0.1s;
    transform: translate(-50%,-50%);
    filter:blur(3px);
    pointer-events: none;
    //box-shadow: 0 0 5px black;
    //mix-blend-mode: difference;
}