$breakpoint-tablet: 768px;
.header{
    background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, transparent 100%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    position: absolute;
    top:0;
    .logo{
        align-items: center;
        justify-content: center;
        padding:10px 30px;
        transition: 0.3s ease all;
        color:white;
        -webkit-text-stroke: 2px black;
        &:hover{
            text-shadow: 0 0 10px white,
            0 0 20px white,
            0 0 40px white,;
            transform:translate(-0.7em,-0.7em) scale(1.2);
        }   
    }
    @media (max-width: $breakpoint-tablet){
        position: fixed;
        top:0
    }
    .options{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .option{
            padding: 10px 3.5vw;
            border-radius: 5px;
            transition: 0.5s ease all;
            line-height: 0.1em;
            outline:none;
            //animation: animate 5s linear infinite;
            @media (min-width: $breakpoint-tablet){
                &:hover{
                    -webkit-box-reflect: below -5px linear-gradient(transparent,black);
                    color: white;
                    text-shadow: 0 0 5px #ffb7ae,
                        0 0 10px #ffb7ae,
                        0 0 20px #ffb7ae,
                        0 0 40px #ffb7ae,
                        0 0 80px #ffb7ae,
                        0 0 160px #ffb7ae,;
                        
                }
            }
            &.hamburger{
                display:none;
                @media (max-width:$breakpoint-tablet){
                    display: block;
                    color:white;
                }
            }
            
            .header-icon{
                margin-right: 5px;
            }
            
        }
        .menubar{
            @media (max-width:$breakpoint-tablet){
                display: flex;
                flex-direction: column;
                position: fixed;
                background: lightblue;
                width:100%;
                bottom:0;
                align-items: center;
                justify-content: center;
                height: 100%;
                overflow: auto;
                z-index:-1;
                font-size: 2em;
                transition: left 0.5s;
                left:-100%;
                .option{
                    padding:5vh 3.5vw;
                }
            }
        }
    }
    
}
// @keyframes animate{
//     0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
//     {
//         color:black;
//         text-shadow: none;
//     }
//     18.1%,20.2%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
//     {
//         color: white;
//         text-shadow: 0 0 5px #ffb7ae,
//         0 0 10px #ffb7ae,
//         0 0 20px #ffb7ae,
//         0 0 40px #ffb7ae,
//         0 0 80px #ffb7ae,
//         0 0 160px #ffb7ae,;
//     }
// }