$breakpoint-tablet: 768px;
.aboutme{
    padding:60px 15vw;
    @media (max-width:$breakpoint-tablet) {
        padding:45px 5vw;
    }
    .description{
        padding:10px 5vw;
        border-radius: 30px;
        background: blanchedalmond;
        p {
            padding:10px 0;
        }

    }
}